{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
About us and enjoy the variety of stunning and comfy sofas.
{% endblock %}
{% block title %}
About us - The Furniture Shop
{% endblock %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <div class="section1">
        <div class="container2">
            <div class="content-section">
                <div class="title">
                    <h1>- Our Mission -</h1>
                </div>
                <div class="content">
                    <h3>ᴛᴏ ᴘʀᴏᴠɪᴅᴇ ᴛʜᴇ ᴍᴏꜱᴛ ʀᴇʟɪᴀʙʟᴇ ᴀɴᴅ ᴍᴀɪɴᴛᴀɪɴᴇᴅ ꜰᴜʀɴɪᴛᴜʀᴇ ɪɴ ᴀʟʟ ᴏꜰ ɪʀᴇʟᴀɴᴅ</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque, amet facilis doloribus iusto mollitia. Corporis quos suscipit eligendi nobis culpa est deleniti laboriosam, sint, maiores ducimus nostrum delectus quas.</p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter-square fa-fw fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-fw fa-2x"></i></a>
                    </div>
                </div>
                <div class="image-section1">
                    <img src="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}