{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to the sofa store where you can buy comfy and awesome sofas.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - The Furniture Shop
{% else %}
See Our Sofa Collection - The Furniture Shop
{% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if category %}
<div class="row my_row_class">
	<div class="mx-auto">
		<p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
	</div>
</div>
{% endif %}
<div class="mx-auto">
	{% if category %}
	<img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
	<h1 class="my_title text-center">{{category.name}}</h1>
	<p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<img class ="my_image my_image_padding" src="{% static 'images/banner.png' %}" alt="Our Products Collection">
</div>
<br>
<div>
	<h1 class="text-center my_title">Our Products Collection</h1>
	<p class ="text-justify">Are you looking for a comfy and awesome sofa for your home? Well look no further. We provide you with a vast selection of our amazing sofas and armchairs that have been made to satisfy your furniture needs. We can offer you great deals along with a sense of style and comfort that you never knew you needed in your home. Our sofas were created with the best materials that you’ll love that’ll last for years to come.

	</p>
</div>
{% endif %}
<div class="container">
	<div class="row mx-auto">
		{% for product in products %}
		<div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4">
			<div class="card text-center" style="min-width:18rem;">
				<a href="{{product.get_absolute_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.image.url}}"></a>
				<div class="card-body">
					<h4>{{product.name}}</h4>
					<p>€{{product.price}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="mx-auto">
		{% if products.paginator.num_pages > 1 %}
			<hr>
			<div class="text-center">
				{% for pg in products.paginator.page_range %}
				<a href="?page={{pg}}" class="btn btn-light btn-sm
					{% if products.number == pg %}active{% endif%}">{{pg}}
				</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<br>
</div>
{% endblock %}